@font-face {
	font-family: 'Gilroy Extra Bold';
	src: url('../fonts/gilroyextrabold.woff') format('woff');
	src: url('../fonts/gilroyextrabold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy Light';
	src: url('../fonts/gilroylight.woff') format('woff');
	src: url('../fonts/gilroylight.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans.woff') format('woff');
	src: url('../fonts/opensans.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans Light';
	src: url('../fonts/opensanslight.woff') format('woff');
	src: url('../fonts/opensanslight.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}


body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.header {
	background-color: #f0c52e;
	opacity: 0.5;
}

.footer {
	background-color: #464646;
}

.header .header-search {
	opacity: 0.3;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.15px;	
	color: #000000;
}

.header .header-search:hover {
	opacity: 0.6;
}

.header .header-search:focus {
	opacity: 1;
}

.header .user-navigation,
.footer .user-navigation {
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.15px;
}

.header .user-navigation a {
	color: #000000;
}

.footer .user-navigation a {
	opacity: 0.7;
	color: #ffffff;
}

.header .user-navigation a:hover {
	opacity: 0.6;
}

.header .user-navigation a:focus {
	opacity: 0.3;
}

.footer .user-navigation a:hover {
	opacity: 1;
}

.footer .user-navigation a:focus {
	opacity: 0.3;
}

.header .site-navigation,
.footer .site-navigation {
	font-family: "Gilroy Extra Bold";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	list-style: none;
}

.header .site-navigation ul {
	list-style: none;
}

.header .site-navigation a {
	color: #000000;
}

.footer .site-navigation a {
	color: #ffffff;
}

.header .site-navigation a:hover {
	opacity: 0.6;
}

.header .site-navigation a:focus {
	opacity: 0.3;
}

.footer .site-navigation a:hover {
	opacity: 0.6;
}

.footer .site-navigation a:focus {
	opacity: 0.3;
}

.container h2 {
	color: #000000;
	font-family: "Gilroy Extra Bold";
	font-size: 47px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0.21px;
}

.container h3 {
	color: #000000;
	font-family: "Gilroy Extra Bold";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.91px;
}


.container .main-description {
	color: #464646;
	font-family: "Open Sans Light";
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
}

.container .about-services {
	color: #000000;
	font-family: "Gilroy Extra Bold";
	font-size: 16px;
	font-weight: 400;
	line-height: 40px;
	list-style: none;
}

.container .main-more {
	color: #000000;
	font-family: "Gilroy Extra Bold";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 2.15px;	
}

.container .breadcrumbs {
	list-style: none;
}

.container .breadcrumbs li {
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.14px;
	color: #000000;
}

.container .breadcrumbs .last {
	opacity: 0.3;
}

.container .breadcrumbs a {
	color: #000000;
	opacity: 0.3;
}

.container .breadcrumbs a:hover {
	opacity: 0.6;

}

.container .breadcrumbs a:focus {
	opacity: 0.1;
}

.container .filter li {
	list-style: none;
}


.container .filter input:disabled {
	color: #a6a6a6;
}

.container .filter legend {
	color: #000000;
	font-family: "Gilroy Extra Bold";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.18px;
}

.container .filter li span {
	color: #000000;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 300;
	line-height: 17px;
	letter-spacing: 0.14px;
}

.catalog li {
	list-style: none;
}

.catalog .catalog-product-image:hover{
	background-color: #eeeeee;
	opacity: 0.7;
}

.catalog .catalog-product-name  {
	color: #000000;
	font-family: "Gilroy Extra Bold";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.18px;
}

.catalog .catalog-product-price {
	color: #464646;
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.16px;
}

.footer .footer-contacts {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: normal;
}

.footer .footer-social {
	opacity: 0.3;

}

.modal {
	display: none;
}

