@font-face {
    font-family: 'Gilroy ExtraBold';
    src: url('../fonts/gilroyextrabold.woff'),
    url('../fonts/gilroyextrabold.woff2');
}

@font-face {
    font-family: 'Gilroy Light';
    src: url('../fonts/gilroylight.woff'),
    url('../fonts/gilroylight.woff2');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff'),
    url('../fonts/opensans.woff2');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensanslight.woff'),
    url('../fonts/opensanslight.woff2');
}

body{
    min-width: 1160px;
    margin: 0 auto;
    padding: 0;

    padding-top: 40px;
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    color: #464646;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    width: 1160px;
    position: relative;
    margin: 0 auto;
    padding-top: 43px;
    box-sizing: border-box;
    color: #000000;
    background-color: #f7e296;
}

.wrapper {
    width: 1040px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 115px;
}

.catalog-page .wrapper {
    padding-bottom: 0;
}

.main-header-logo {
    position: absolute;
    top: -18px;
}

.main-header-logo:hover {
    opacity: 0.6;
}

.main-header-logo:focus {
    opacity: 0.3;
}

.user-navigation-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 38px;
    padding: 0;
    list-style: none;
}

.user-navigation-list a {
    color: #000000;
}

.user-navigation {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-navigation-list-link {
    vertical-align: middle;
    position: relative;
}

.user-navigation-list-link:first-child {
    width: 274px;
}

.user-navigation-list-link a {
    display: inline-block;
}

.user-navigation-list-link:first-child a {
    padding-left: 26px;
}

.user-navigation-list-link:first-child a::before {
    position: absolute;
    content: "";
    background-image: url("../img/user.svg");
    width: 13px;
    height: 12px;
    top: 10px;
    left: 0px;
}

.user-navigation-list-link:nth-child(2) a {
    padding-left: 20px;
}

.user-navigation-list-link:nth-child(2) a::before {
    position: absolute;
    content: "";
    background-image: url("../img/compare.svg");
    width: 10px;
    height: 10px;
    top: 12px;
    left: 0px;
}

.user-navigation-list-link:last-child a {
    padding-left: 23px;
}

.user-navigation-list-link:last-child a::before {
    position: absolute;
    content: "";
    background-image: url("../img/cart.svg");
    width: 12px;
    height: 12px;
    top: 10px;
    left: 0px;
}

.user-navigation-list-link:last-child {
    margin-left: 31px;
}

.user-navigation-list-link-logout a:first-child {
    position: relative;
    padding-left: 26px;
    letter-spacing: 0.2px;
}

.user-navigation-list-link-logout a:first-child::before {
    position: absolute;
    content: "";
    background-image: url("../img/user.svg");
    width: 13px;
    height: 12px;
    top: 4px;
    left: 0px;
}

.user-navigation-list-link-logout a:last-child {
    color: rgba(0,0,0,0.3);
    margin-left: 16px;
    margin-right: 53px;
}

.site-navigation-list a,
.main-catalog-list a {
    display: block;
    color: #000000;
}

.user-navigation a {
    color: #000000;
}

.user-navigation-list a:hover,
.user-navigation a:hover,
.site-navigation-list a:hover,
.main-catalog-list a:hover {
    color: #000000;
    opacity: 0.6;
}

.user-navigation-list a:focus,
.user-navigation a:focus,
.site-navigation-list a:focus,
.main-catalog-list a:focus {
    color: #000000;
    opacity: 0.3;
}

.user-navigation a:hover {
    opacity: 0.6;
}

.user-navigation a:focus {
    opacity: 0.3;
}

.search-form {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 356px;
    margin: 0;
    padding: 0;
}

.search-input {
    width: 100%;
    padding-left: 39px;
    font:inherit;
    color: rgba(0, 0, 0, 0.3);
    background-color: #f7e296;
    border: none;
    position: relative;
}

.search-input:hover {
    color: rgba(0, 0, 0, 0.6);
}

.search-input:focus {
    color: #000000;
}

.search-form::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 9px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.search-label::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    display: none;
    width: 400px;
    height: 2px;
    background-color: #000000;
}

.search-button {
    position: absolute;
    z-index: -1;
    top: -9px;
    left: 330px;
    width: 85px;
    padding: 7.5px 0;
    font: inherit;
    background-color: #f7e296;
    border: 2px solid #000000;
}

.search-button:hover {
    color: #ffffff;
    background-color: #000000;
}

.search-button:focus {
    z-index: 0;
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
}

.search-input:focus + .search-button {
    display: block;
    z-index: 0;
}

.search-input:focus ~ .search-label::before {
    display: block;
    visibility: visible;
}

.site-navigation-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    list-style: none;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.site-navigation-list > li:first-child {
    position: relative;
    margin-right: 290px;
}

.site-navigation-list > li:last-child {
    margin-left: auto;
}

.site-navigation-list > li> a {
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.4px;
    font-style: normal;
}

.main-catalog-list {
    display: none;
    position: absolute;
    top: 55px;
    left: -60px;
    z-index: 3;
    width: 1100px;
    height: 84px;
    margin: 0;
    padding: 0;
    padding-left: 60px;
    padding-bottom: 50px;
    list-style: none;
    font-family: 'Open Sans Light', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2.4;
    letter-spacing: 0.2px;
    text-transform: none;
    background-color: #f7e296;
}

.catalog-list-item {
    padding: 0;
    padding-right: 60px;
    margin: 0;
    margin-top: -10px;
    margin-right: 0px;
}

.catalog-list-item:nth-child(2) {
    padding-right: 0px;
}

.catalog-list-item:nth-child(3) {
    padding-right: 0px;
    padding-left: 73px;
}

.catalog-link{
    padding-bottom: 20px;
    padding-right: 34px;
}

.catalog-link:hover + .main-catalog-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.main-catalog-list:hover {
    display: flex;
}

.main-catalog::before {
    content: '';
    position: absolute;
    bottom: 24px;
    right: 4px;
    width: 16px;
    height: 16px;
    background-image: url('../img/plus.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    opacity: 0.3;
}

.delivery {
    margin-right: 35px;
}

.contacts-link {
    margin-right: -2px;
}

.container{
    width: 1160px;
    margin: 0 auto;
}

.promo-container{
    position: relative;
    height: 495px;
}

.promo-slider-list{
    margin: 0;
    margin-top: -112px;
    padding: 0;
}

.promo-slider-controls {
    position: absolute;
    right: 83px;
    top: 325px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    width: 78px;
}

.promo-controls-item {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border: 1px solid #000000;
    border-radius: 6px;
    cursor: pointer;
}

.promo-controls-item::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    display: none;
    box-sizing: border-box;
    width: 6px;
    height: 6px;
    border: 1px solid #000000;
    border-radius: 3px;
}

#promo-1:checked ~ .promo-slider-controls label[for="promo-1"]::before,
#promo-2:checked ~ .promo-slider-controls label[for="promo-2"]::before,
#promo-3:checked ~ .promo-slider-controls label[for="promo-3"]::before {
    display: block;
}

.promo-item {
    position: relative;
    display: none;
    padding-top: 41px;
}

.promo-item::before {
    content: "";
    position: absolute;
    top: 36px;
    left: 600px;
    width: 100px;
    height: 7px;
    background-color: #fff;
}

.promo-item::after {
    content: "";
    position: absolute;
    top: -15px;
    right: 49px;
    /*z-index: -1;*/
    font-weight: 800;
    font-size: 179px;
    line-height: 179px;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    color: #fff;
}

.promo-item:nth-child(1)::after{
    content: "01";
}

.promo-item:nth-child(2)::after{
    content: "02";
}

.promo-item:nth-child(3)::after{
    content: "03";
}

#promo-1:checked ~ .promo-slider-list .promo-item:nth-child(1) {
    display: flex;
    flex-direction: row;
}

#promo-2:checked ~ .promo-slider-list .promo-item:nth-child(2) {
    display: flex;
    flex-direction: row;
}

#promo-3:checked ~ .promo-slider-list .promo-item:nth-child(3) {
    display: flex;
    flex-direction: row;
}

.promo-item-image {
    min-width: 600px;
}

.promo-item:first-child img {
    padding-left: 90px;
    margin-top: -42px;
}

.promo-item:nth-child(2) img {
    padding-left: 115px;
    margin-top: -30px;
}

.promo-item:last-child img {
    padding-left: 30px;
    margin-top: 22px;
}

.promo-inner {
    width: 560px;
    z-index: 2;
}

.promo-inner h2 {
    line-height: 56px;
    letter-spacing: 0.47px;
    font-size: 47px;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    position: relative;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000;
}

.promo-inner > p {
    margin: 0;
    margin-bottom: 48px;
    margin-top: -20px;
    padding: 0;
    font-family: 'Open Sans Light', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #464646;
}

.promo-item .main-button {
    width: 220px;
    display: inline-block;
    margin-bottom: 55px;
}

.promo-item-properties {
    margin-left: -3px;
}

.promo-item-property-value {
    line-height: 48px;
    letter-spacing: 0.36px;
    font-size: 36px;
    font-family: 'Gilroy Light', Arial, sans-serif;
}

.promo-item-property-description {
    line-height: 20px;
    letter-spacing: 0.13px;
    font-size: 13px;
    font-family: 'Gilroy Light', Arial, sans-serif;
}

.promo-item-property-value td:nth-child(2),
.promo-item-property-value td:nth-child(3),
.promo-item-property-description td:nth-child(2),
.promo-item-property-description td:nth-child(3) {
    padding-left: 75px;
}

.promo-item-property-description td {
    padding-top: 7px;
    line-height: 20px;
    letter-spacing: 0.13px;
    font-size: 13px;
    font-family: 'Open Sans Light', Arial, sans-serif;
}

.main-button{
    position: relative;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.4px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
}

.main-button::after{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 100%;
    height: 8px;
    content: '';
    background-color: #f0c52e;
    transform: translate(-50%, -50%);
}

.main-button:hover::after,
.main-button:focus::after {
    height: 40px;
}

.main-button:focus {
    color: rgba(0, 0, 0, 0.3);
}


.popular {
    padding-top: 98px;
    padding-bottom: 20px;
}

.popular-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.popular-item {
    display: flex;
    justify-content: center;
    width: 160px;
}

.popular-link {
    display: flex;
    flex-direction: column;
}

.popular-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    margin-bottom: 34px;
    background-color: rgba(240, 197, 46, 0.5);
}

.popular-item:nth-child(2) .popular-img-container {
    align-items: flex-end;
}


.popular-img-container-vr::before {
    content: "";
    background: url("../img/popular-1.svg") no-repeat;
    width: 97px;
    height: 55px;
}

.popular-img-container-mon::before {
    content: "";
    background: url("../img/popular-2.svg") no-repeat;
    width: 86px;
    height: 117px;
}

.popular-img-container-cam::before {
    content: "";
    background: url("../img/popular-3.svg") no-repeat;
    width: 71px;
    height: 87px;
    margin-left: 5px;
}

.popular-img-container-br::before {
    content: "";
    background: url("../img/popular-4.svg") no-repeat;
    width: 107px;
    height: 65px;
}

.popular-img-container-wt::before {
    content: "";
    background: url("../img/popular-5.svg") no-repeat;
    width: 56px;
    height: 98px;
}

.popular-img-container-hl::before {
    content: "";
    background: url("../img/popular-6.svg") no-repeat;
    width: 132px;
    height: 69px;
}

.popular-link:hover .popular-img-container{
    background-color: rgba(240, 197, 46, 1);
}

.popular-link:focus .popular-img-container{
    background-color: rgba(240, 197, 46, 1);
}

.popular-link:focus .popular-img-container img,
.popular-link:focus .popular-title{
    opacity: 0.3;
}

.popular-link:focus > .popular-img-container-vr::before,
.popular-link:focus > .popular-img-container-mon::before, 
.popular-link:focus > .popular-img-container-cam::before,
.popular-link:focus > .popular-img-container-br::before, 
.popular-link:focus > .popular-img-container-wt::before,
.popular-link:focus > .popular-img-container-hl::before {
    opacity: 0.3;
}

.popular-img-container img{
    opacity: 1;
}

.popular-title{
    margin: 0;
    padding: 0;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}


.services-slider{
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 115px;
    background-image: linear-gradient(#fff 162px, #e5e5e5 162px);
}

.services-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.services-slider-list{
    margin: 0;
    margin-left: 123px;
    padding: 0;
    list-style: none;
}

.services-slider-item {
    position: relative;
    display: none;
    width: 700px;
    padding-top: 136px;
}

.services-item-delivery::after{
    position: absolute;
    top: 147px;
    right: 7px;
    width: 136px;
    height: 164px;
    content: url("../img/delivery.svg");
}

.services-item-warranty::after{
    position: absolute;
    top: 147px;
    right: 7px;
    width: 171px;
    height: 195px;
    content: url("../img/warranty.svg");
}

.services-item-credit::after{
    position: absolute;
    top: 147px;
    right: 7px;
    width: 156px;
    height: 188px;
    content: url("../img/credit.svg");
}

.services-slider-item h2{
    margin: 0;
    margin-bottom: 31px;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.02;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
}

.services-slider-item p{
    max-width: 426px;
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: -0.07px;
    text-align: left;
    color: #464646;
}

.services-slider-controls{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 278px;
    padding-top: 140px;
}

.services-slider-controls::after{
    position: absolute;
    top: 63px;
    right: -6px;
    width: 7px;
    height: 319px;
    content: '';
    background-color:#000000;
}

.slider-controls-item{
    position: relative;
    z-index: 1;
    display: block;
    order: 1;
    width: 160px;
    margin-bottom: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1px;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 3.9px;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
}

.slider-controls-item::after{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 100%;
    height: 8px;
    content: '';
    background-color:#f0c52e;
    transform: translate(-50%, -50%);
}

.slider-controls-item:hover::after,
.slider-controls-item:focus::after{
    height: 40px;
}

.slider-controls-item:focus{
    opacity: 0.3;
}

#services-1:checked ~ .services-slider-list .services-slider-item:nth-child(1) {
    display: block;
}

#services-2:checked ~ .services-slider-list .services-slider-item:nth-child(2) {
    display: block;
}

#services-3:checked ~ .services-slider-list .services-slider-item:nth-child(3) {
    display: block;
}

#services-1:checked ~ .services-slider-controls label[for="services-1"],
#services-2:checked ~ .services-slider-controls label[for="services-2"],
#services-3:checked ~ .services-slider-controls label[for="services-3"]{
    color: #f7e184;
}

#services-1:checked ~ .services-slider-controls .slider-controls-item--1::after,
#services-2:checked ~ .services-slider-controls .slider-controls-item--2::after,
#services-3:checked ~ .services-slider-controls .slider-controls-item--3::after {
    position: absolute;
    bottom: 0;
    left: 139px;
    z-index: -1;
    width: 278px;
    height: 40px;
    content: '';
    background-color:#000000;
}

.brands-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.brands-item {
    width: 260px;
    padding-top: 74px;
    padding-bottom: 83px;
}

.brands-link {
    display: block;
}

.brands-link-djii {
    width: 260px;
    height: 100px;
    background-image: url("../img/brand-4.jpg");
}

.brands-link-djii:hover {
    opacity: 1;
    background-image: url("../img/brand-4.png");
}

.brands-link-spg {
    width: 260px;
    height: 100px;
    background-image: url("../img/brand-2.jpg");
}

.brands-link-spg:hover {
    opacity: 1;
    background-image: url("../img/brand-2.png");
}

.brands-link-gopro {
    width: 260px;
    height: 100px;
    background-image: url("../img/brand-3.jpg");
}

.brands-link-gopro:hover {
    opacity: 1;
    background-image: url("../img/brand-3.png");
}

.brands-link-vive {
    width: 260px;
    height: 100px;
    background-image: url("../img/brand-1.jpg");
}

.brands-link-vive:hover {
    opacity: 1;
    background-image: url("../img/brand-1.png");
}

.container.main-about {
    margin-top: 62px;
    margin-bottom: 87px;
}

.main-about {
    display: flex;
    flex-direction: row;
}

.main-about h2 {
    margin: 0;
    margin-left: -2px;
    padding: 0;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.8px;
    text-align: left;
    color: #000000;
    margin-bottom: 42px;
}

.main-about p{
    margin: 0;
    padding: 0;
}

.main-about ul{
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 16px;
    line-height: 2.5;
    color: #000000;
}

.main-about-info {
    min-width: 600px; 
}

.main-about-info-services {

}
.main-about-info-services {
    margin: 0;
    margin-bottom: 59px;
    padding: 0;
    list-style: none;
}

.main-about-info-services li{
    position: relative;
    padding-left: 35px;
    letter-spacing: 0.2px;
}

.main-about-info-services li::before{
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 8px;
    height: 8px;
    background-image: url('../img/slider-button-empty.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.main-about .main-button {
    width: 260px;
    display: inline-block;
    padding-left: 2px;
    letter-spacing: 3.6px;
}

.main-about-info-description {
    margin-bottom: 30px;
}

.main-about-info-description:nth-of-type(1){
    letter-spacing: 0.135px;
}

.main-about-info-description:nth-of-type(2){
    margin-bottom: 66px;
    margin-top: 31px;
    letter-spacing: -0.2px;
}

.main-about-info {
    position: relative;
    flex-direction: column;
    width: 480px;
}

.main-about-info::before{
    position: absolute;
    top: -52px;
    left: 0px;
    width: 80px;
    height: 7px;
    background-color: #000000;
    content: "";
}

.main-about-contacts{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 560px;
}

.main-about-contacts::before {
    position: absolute;
    top: -52px;
    left: 0px;
    width: 80px;
    height: 7px;
    background-color: #000000;
    content: "";
}

.main-about-contacts h2 {
    margin-bottom: 43px;
}

.main-about-contacts-description {
    margin-bottom: 39px;
    margin-left: -2px;
    letter-spacing: 0.1px;
}

.main-about-contacts-map {
    margin-bottom: 69px;
    margin-top: 39px;
}

.main-footer{
    margin: 0;
    padding: 0;
    padding-top: 65px;
    padding-bottom: 60px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    background-color: #464646;
}

.main-footer .wrapper {
    padding-bottom: 0px;
}

.footer-wrapper{
    display: flex;
    flex-direction: column;
    width: 1160px;
}

.footer-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.footer-row-user{
    position: relative;
    justify-content: flex-end;
    margin-bottom: 37px;
    margin-top: -2px;
}

.main-footer-logo {
    position: absolute;
    left: 0;
    top: 2px;
}

.main-footer-logo:hover {
    opacity: 0.6;
}

.main-footer-logo:focus {
    opacity: 0.3;
}

.footer-user-navigation {
    margin: 0;
    padding: 0;
}

.catalog-page .footer-user-navigation-link:first-child {
    margin-left: 45px;
}

.footer-user-navigation .logout-link {
    margin-left: 20px;
}

.footer-user-navigation-link {
    position: relative;
}
.footer-user-navigation-link:nth-child(2) {
    margin-right: 42px;
}

.footer-user-navigation-link:first-child {
    margin-right: 44px;;
}

.footer-user-navigation-link:first-child a {
    padding-left: 25px;
}


.footer-user-navigation-link:last-child a {
    padding-left: 22px;
}

.footer-user-navigation-link:nth-child(2) a {
    padding-left: 20px;
}

.footer-user-navigation-link a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation-link a:hover {
    color: rgb(255, 255, 255);
}

.footer-user-navigation-link a:focus {
    color: rgba(255, 255, 255, 0.3);
}


.footer-user-navigation-link:hover::before{ 
    opacity: 0.6; 
}

.footer-user-navigation-link:focus::before {
    opacity: 0.3;
}


.footer-user-navigation-link::before {
    position: absolute;
    content: "";
    left: -10px;
}

.footer-user-navigation-link:first-child::before {
    background-image: url("../img/user-footer.svg");
    width: 13px;
    height: 12px;
    top: 9px;
    left: 0px;
}


.footer-user-navigation-link:last-child::before {
    background-image: url("../img/cart-footer.svg");
    width: 12px;
    height: 12px;
    left: 0px;
    top: 9px;
}

.footer-user-navigation-link:nth-child(2)::before {
    background-image: url("../img/compare-footer.svg");
    width: 10px;
    height: 10px;
    top: 10px;
    left: 0px;
}



.footer-row-site {
    justify-content: flex-start;
    margin-bottom: 59px;
}

.footer-row-social {
    position: relative;
    align-items: center;
}

.footer-row-social::before {
    position: absolute;
    top: 14px;
    left: 0;
    display: block;
    margin: 0;
    width: 80px;
    height: 7px;
    content: "";
    background-color: #ffc600;
}

.footer-row-site p{
    margin: 0;
    padding: 0;
}

.footer-row-site p:first-child{
    margin-right: 163px;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
}

.footer-site-navigation{
    width: 440px;
    margin: 0;
    padding: 0;
    padding-top: 3px;
}

.footer-user-navigation,
.footer-site-navigation,
.footer-social{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
}

.footer-site-navigation li:first-child{
    margin-right: 36px;
}

.footer-site-navigation li:nth-child(2){
    margin-right: 35px;
}

.footer-site-navigation a {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif ;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.5px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}

.footer-site-navigation a:hover {
    color: #ffffff;
    opacity: 0.6;
}

.footer-site-navigation a:focus {
    color: #ffffff;
    opacity: 0.3;
}


.footer-phone{
    margin-left: auto;
    font: inherit;
    letter-spacing: -0.02px;
    color: #ffffff;
}

.footer-social{
    width: 150px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;
}


.fb {
    margin-left: 18px;
}

.instagram {
    margin-left: 55px;
}

.twitter {
    margin-left: 55px;
}

.fb a {
    position: relative;
}

.fb a::before {
    width: 32px;
    height: 32px;
    opacity: 0.3;
    position: absolute;
    content: "";
    background: url("../img/fb.svg") no-repeat;;
}

.fb a:hover::before,
.instagram a:hover::before,
.twitter a:hover::before {
    opacity: 0.6;
}

.fb a:focus::before,
.instagram a:focus::before,
.twitter a:focus::before {
    opacity: 0.1;
}

.instagram a {
    position: relative;
}

.instagram a::before {
    width: 32px;
    height: 32px;
    opacity: 0.3;
    position: absolute;
    content: "";
    background: url("../img/instagram.svg") no-repeat;;
}

.twitter a {
    position: relative;
}

.twitter a::before {
    width: 32px;
    height: 32px;
    opacity: 0.3;
    position: absolute;
    content: "";
    background: url("../img/twitter.svg") no-repeat;;
}

.htmlacademy {
    margin-right: 0px;
    font-size: 0px;
    position: relative;
    width: 25px;
}

.htmlacademy::before {
    position: absolute;
    content: "";
    background: url("../img/logo-html.svg") no-repeat;
    width: 27px;
    height: 35px;
    top:-21px;
    left: -2px;
}

.htmlacademy:hover::before {
    opacity: 0.6;
}

.htmlacademy:focus::before {
    opacity: 0.3;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal{
    position: fixed;
    display: none;
    transform: translate(-50%, -50%);
    animation-name: bounce;
    animation-duration: 0.6s;
}

.modal-write{
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 960px;
    height: 553px;
    padding: 80px 100px;
    background-color: #ffffff;
    box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
    box-sizing: border-box;
}

.modal-close{
    position: absolute;
    z-index: 12;
    top: 22px;
    right: 22px;
    width: 55px;
    height: 55px;
    background-color: #f0c52e;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

.modal-close::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: #ffffff;
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: #ffffff;
    transform: translate(-50%, -50%) rotate(135deg);
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:focus {
    opacity: 0.3;
}

.write-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.write-form p{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.write-form label{
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.write-form input[type="text"],
.write-form input[type="email"]{
    width: 340px;
    padding-top: 19px;
    padding-bottom: 21px;
    padding-left: 20px;
    outline: none;
}

.write-form textarea{
    width: 740px;
    margin-bottom: 55px;
    padding-top: 19px;
    padding-left: 20px;
    padding-bottom: 84px;
    outline: none;
}

.write-form input[type="text"],
.write-form input[type="email"],
.write-form textarea{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: rgba(70, 70, 70, 0.4);
    background-color: #f2f2f2;
    border: none;
}

.write-form input:hover,
.write-form textarea:hover{
    background-color: #eaeaea;
}

.write-form input:focus,
.write-form textarea:focus{
    color:#464646;
    outline: 3px solid #f7e296;
    background-color: #ffffff;
}

.write-form input:invalid{
    background-color: #f6dada;
}

.modal-map{
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 960px;
    height: 559px;
}

.modal-map p {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
}

.modal-map iframe {
    position: relative;
    z-index: 10;
    border: none;
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.catalog-container{
    margin: 0;
    padding: 0;
    padding-top: 37px;
    box-sizing: border-box;
}

.catalog-page .main-header-logo{
    top: -16px;
}

.page-title{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #000000;
}

.breadcrumbs{
    display: flex;
    margin: 0;
    margin-bottom: 44px;
    padding: 0;
    list-style: none;
}

.breadcrumbs li{
    position: relative;
    margin-right: 39px;
}

.breadcrumbs li:nth-child(2){
    margin-right: 43px;
}

.breadcrumbs li:last-child{
    margin-right: 0;
}

.breadcrumbs li::after{
    content: '';
    position: absolute;
    bottom: 10px;
    right: -21px;
    width: 4px;
    height: 7px;
    background-image: url('../img/nav-arrow.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.breadcrumbs li:nth-child(2)::after{
    right: -26px;
}

.breadcrumbs li:last-of-type::after {
    display: none;
}

.breadcrumbs a{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: -0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover{
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:focus{
    color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current { 

}

.catalog-row-header{
    background-image: linear-gradient(to right, #d9d9d9 25%, #ebebeb 25%);
}

.catalog-row-main{
    background-image: linear-gradient(to right, #ebebeb 25%, #ffffff 25%);
}

.catalog-row-wrapper{
    display: flex;
    flex-direction: row;
    width: 1160px;
    margin: 0 auto;
}

.filters{
    position: relative;
    width: 468px;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

.filters-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 328px;
    margin: 0;
    padding: 0;
}

.filters-title-wrap{
    position: relative;
    width: 100%;
    background-color: #d9d9d9;
    text-align: right;
}

.filters-title-wrap h2{
    margin: 0;
    padding: 0;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 179px;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 3.1px;
    text-transform: uppercase;
    color: #000000;
}

.filter .legend-price{
    margin-bottom: 35px;
}

.filter-range {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}

.range-controls {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.scale {
    height: 2px;
    background-color: #dbdbdb;
}

.bar {
    width: 60%;
    height: 2px;
    background-color: #91c92f;
}

.range-toggle {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px #dadada;
    cursor: pointer;
}

.range-toggle:active {
    width: 22px;
    height: 22px;
    border: 9px solid #ffffff;
}

.range-toggle-min {
    top: -9px;
    left: -5px;
}

.range-toggle-max {
    top: -9px;
    left: 108px;
}

.price-controls label {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.2);
    letter-spacing: 0.3px;
}

.min-price {
    flex-grow: 1;
    margin-right: 17px;
}

.max-price {
    flex-grow: 1;
}

.price-controls input {
    width: 50px;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.2);
    letter-spacing: 0;
    background: none;
    border: 0;
}

.filters-form-wrap{
    width: 200px;
    padding-top: 69px;
    padding-right: 68px;
}

fieldset{
    margin: 0;
    padding: 0;
}

.filter fieldset{
    border: none;
}

.filter legend{
    width: 100%;
    margin: 0;
    margin-left: -1px;
    margin-bottom: 22px;
    padding: 0;
    padding-top: 10px;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
    border-top: 2px solid #000000;
}

.input-radio-legend{
    margin-bottom: 10px;
}

.filter-checkbox-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-option label {
    position: relative;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
    letter-spacing: -0.6px;
}

.filter-checkbox-list li{
    padding-left: 39px;
}

.filter-checkbox-list li:last-child{
    margin-bottom: 37px;
}

.filter-input:disabled + label{
    color: #a6a6a6;
    opacity: 0.25;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 3px;
    width: 23px;
    height: 24px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.filter-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    left: -41px;
    top: 4px;
    width: 28px;
    height: 28px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.filter-input-checkbox:hover + label::before {
    opacity: 0.6;
}

.filter-radio-list{
    margin: 0;
    padding: 0;
    padding-bottom: 32px;
    list-style-type: none;
}

.filter-radio-list li{
    padding-left: 38px;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 1px;
    width: 17px;
    height: 17px;
    border: 4px solid #000000;
    border-radius: 50%;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -33px;
    width: 11px;
    height: 11px;
    background-color: #000000;
    border-radius: 50%;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:hover + label::after {
    opacity: 0.6;
}

.filter-button{
    width: 100%;
    z-index: 0;
}

.catalog{
    position: relative;
    width: 832px;
    margin: 0;
    padding: 0;
    padding-bottom: 77px;
}

.catalog-wrapper{
    margin: 0;
    padding: 0;
}

.sort-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 760px;
    padding-top: 20px;
    padding-left: 72px;
    padding-bottom: 21px;
    background-color: #ebebeb;
}

.sort-inner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 760px;
    margin: 0;
    padding: 0;
}

.sort-inner h3{
    margin: 0;
    margin-right: 51px;
    padding: 0;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    text-align: left;
    color: #000000;
}

.sort-list{
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: -4px;
    margin-right: 227px;
    padding: 0;
    list-style: none;
}

.sort-updown{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 41px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sort-updown-item{
    margin-top: -1px;
}

.sort-item a{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    opacity: 0.3;
}

.sort-item a:hover{
    opacity: 0.6;
}

.sort-item a:focus{
    opacity: 1;
}

.sort-list .sort-item{
    margin-right: 29px;
}

.sort-list .sort-item:nth-child(2){
    margin-right: 31px;
}

.sort-list .sort-item:last-child{
    margin-right: 0;
}

.sort-item-active a{
    color: #000000;
    opacity: 1;
}

.sort-updown-link{
    opacity: 0.2;
}

.sort-updown-link:hover{
    opacity: 0.4;
}

.sort-updown-link:focus{
    opacity: 1;
}


.sort-updown-active .sort-updown-link{
    opacity: 1;
}

.catalog-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 69px;
    padding-left: 72px;
}

.catalog-item{
    position: relative;
    width: 360px;
    margin-right: 40px;
    margin-bottom: 46px;
}

.catalog-item-button{
    position: absolute;
    top: 30%;
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.catalog-item-button .button{
    width: 200px;
    margin-bottom: 30px;
}

.catalog-item:hover .catalog-item-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.catalog-item img{
    margin-bottom: 23px;
}

.catalog-item:hover img{
    opacity: 0.7;
    background-color: #eeeeee;
}

.catalog-item:nth-child(2n){
    margin-right: 0;
}

.catalog-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.catalog-item-title{
    width: 263px;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    color: #000000;
}

.catalog-item-title a{
    margin-left: -1px;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000000;
}

.catalog-item:nth-child(3) .catalog-item-title a{
    letter-spacing: 0.1px;
}

.catalog-item-price{
    width: 80px;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy Light', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.2px;
    text-align: right;
    color: #464646;
}

.compare-button{
    font-size: 13px;
    font-weight: 300;
    line-height: 1.54;
    letter-spacing: 0.1px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 25px;
}

.compare-button:hover{
    color: #000000;
}

.compare-button:focus{
    color: rgba(0, 0, 0, 0.2);
}

.new::after{
    content: "new";
    position: absolute;
    top: 30px;
    right: 27px;
    width: 56px;
    height: 39px;
    padding-top: 15px;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: -0.6px;
    line-height: 26px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 50%;
    opacity: 0.1;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 760px;
    margin: 0;
    margin-top: -10px;
    padding: 0;
    margin-left: 72px;
    background-color: #ebebeb;;
    list-style: none;
}

.pagination-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination-control{
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 3.4px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
}

.pagination-control-prev{
    display: block;
    width: 134px;
    padding-top: 23px;
    padding-right: 30px;
    padding-bottom: 22px;
    padding-left: 30px;
    box-sizing: border-box;
}

.pagination-control-prev:hover{
    background-color: #d9d9d9;
}

.pagination-control-prev:focus{
    background-color: #d9d9d9;
    opacity: 0.3;
}

.pagination-control-next{
    display: block;
    width: 134px;
    padding-top: 23px;
    padding-right: 30px;
    padding-bottom: 22px;
    padding-left: 30px;
    text-align: right;
    box-sizing: border-box;
}

.pagination-control-next:hover{
    background-color: #d9d9d9;
}

.pagination-control-next:focus{
    background-color: #d9d9d9;
    opacity: 0.3;
}

.pagination-item {
    width: 40px;
    text-align: center;
}

.pagination-item a{
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 3.2px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.3;
}

.pagination-item a:hover{
    opacity: 0.6;
}

.pagination-item a:focus{
    letter-spacing: -3px;
    opacity: 1;
}

.pagination-item-active a{
    letter-spacing: -3px;
    opacity: 1;
}

.catalog-container .wrapper {
    padding-bottom: 0px;
}

.main-header-catalog .wrapper {
    padding-bottom: 0px;
}

.footer-user-navigation-link-logout a:first-child {
    position: relative;
    padding-left: 26px;
    letter-spacing: 0.2px;
    color: rgba(255,255,255, 0.7);
    margin-right: 0px;
}

.footer-user-navigation-link-logout a:first-child:hover {
    color: rgba(255,255,255, 1);
}

.footer-user-navigation-link-logout a:first-child:focus {
    color: rgba(255,255,255, 0.3);
}

.footer-user-navigation-link-logout a:first-child::before {
    position: absolute;
    content: "";
    background-image: url("../img/user-footer.svg");
    width: 13px;
    height: 12px;
    top: 4px;
    left: 0px;
}

.footer-user-navigation-link-logout a:first-child:hover::before {
    opacity: 0.6;
}

.footer-user-navigation-link-logout a:first-child:focus::before {
    opacity: 0.3;
}

.footer-user-navigation-link-logout a:last-child {
    color: rgba(255,255,255,0.3);
    margin-left: 16px;
    margin-right: 45px;
}


.catalog .main-button {
    width: 200px;
    margin-top: 40px;
}