@font-face {
	font-family: 'Gilroy Extra Bold';
	src: url('../fonts/gilroyextrabold.woff') format('woff');
	src: url('../fonts/gilroyextrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Gilroy Light';
	src: url('../fonts/gilroylight.woff2') format('woff2');
	src: url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans.woff2') format('woff2');
	src: url('../fonts/opensans.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans Light';
	src: url('../fonts/opensanslight.woff2') format('woff2');
	src: url('../fonts/opensanslight.woff') format('woff');
}

/* ---  ALL*/
body {
    min-width: 1160px;
    margin: 0 auto;
    padding: 0;
    padding-top: 40px;
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    color: #464646;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ALL --- */
/* --- Header  */
.header{
    width: 1160px;
    position: relative;
    margin: 0 auto;
    padding-top: 43px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    background-color: rgb(247, 226, 150);
}

.navigation {
	width: 1040px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 128px;
}

.header-logo{
    position: absolute;
    top: -19px;
    opacity: 1.0;
}

.header-logo:hover {
	opacity: 0.6;
}

.header-logo:focus {
	opacity: 0.3;
}

.user-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-navigation__list {
    display: flex;
    width: 500px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-navigation__list a {
    letter-spacing: 0.15px;
}

.user-navigation__list-link:nth-child(1) a,
.user-navigation__list-link:nth-child(2) a,
.user-navigation__list-link:nth-child(3) a {
    position: relative;
}

.user-navigation__list-link:nth-child(1) a {
   	margin-left: 26px;
}

.user-navigation__list-link:nth-child(1) a::before {
	position: absolute;
	content: "";
	background-image: url("../img/user.svg");
	width: 13px;
	height: 12px;
	top: 4px;
	left: -26px;
}

.user-navigation__list-link:nth-child(2) {
	margin-left: 218px;
}

.user-navigation__list-link:nth-child(2) a {
   	margin-left: 20px;
}

.user-navigation__list-link:nth-child(2) a::before {
	position: absolute;
	content: "";
	background-image: url("../img/compare.svg");
	width: 10px;
	height: 10px;
	top: 6px;
	left: -20px;
}

.user-navigation__list-link:nth-child(3) {
	margin-left: 41px;
}

.user-navigation__list-link:nth-child(3) a {
   	margin-left: 22px;
}

.user-navigation__list-link:nth-child(3) a::before {
	position: absolute;
	content: "";
	background-image: url("../img/cart.svg");
	width: 12px;
	height: 12px;
	top: 4px;
	left: -22px;
}

.user-navigation__list a,
.site-navigation a {
	color: rgb(0, 0, 0);
}

.user-navigation__list a:hover,
.site-navigation a:hover {
    opacity: 0.6;
}

.user-navigation__list a:focus,
.site-navigation a:focus {
    opacity: 0.3;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    margin-top: 31px;
    list-style: none;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.site-navigation__link a,
.site-navigation__catalog-link {
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.6px;
    font-style: normal;
}

.site-navigation__catalog .wrapper-link {
	position: relative;
}

.site-navigation__catalog .wrapper-link::before {
	position: absolute;
	content: "";
	background-image: url("../img/plus.svg");
	width: 16px;
	height: 16px;
	left: 230px;
	top: 9px;
	opacity: 0.3;
}

.site-navigation__link:nth-child(2) {
    margin-left: 321px;
}

.site-navigation__link:nth-child(3) {
    margin-left: 34px;
}

.site-navigation__link:last-child {
	margin-right: -3.6px;
	margin-left: 108px;
}

.site-navigation__catalog {
	position: relative;
}

.site-navigation__catalog-list {
	display: none;
	position: absolute;
	justify-content: flex-start;
	z-index: 3;
	width: 1060px;
	height: 143px;
	margin: 0;
	padding: 0;
	top: -1px;
	margin-top: 30px;
	padding-top: 22px;
	list-style: none;
	background-color: rgb(247, 226, 150);	
}


.site-navigation__catalog-item a {
    font-family: 'Open Sans Light', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-transform: none;
}

.site-navigation__catalog-item {
	margin: 0;
    padding: 0;
}

.site-navigation__catalog-item:nth-child(1) {
	max-width: 185px;
}

.site-navigation__catalog-item:nth-child(2) {
	margin-left: 53px;
	max-width: 134px;
}

.site-navigation__catalog-item:last-child {
	margin-left: 67px;
	max-width: 110px;
}

.wrapper-link:hover + .site-navigation__catalog-list {
	display: flex;
}

.site-navigation__catalog-list:hover {
	display: flex;
}


.user-navigation__form {
    position: relative;
    display: flex;
    width: 356px;
    margin: 0;
    padding: 0;
}

.user-navigation__form-input {
    width: 100%;
    padding-left: 39px;
    font: inherit;
    color: rgba(0, 0, 0, 0.3);
    background-color: rgb(247, 226, 150);
    border: none;
    position: relative;
}

.user-navigation__form-input:hover {
    color: rgba(0, 0, 0, 0.6);
}

.user-navigation__form-input:focus {
    color: rgb(0, 0, 0);
}

.user-navigation__form::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 9px;
    left: 3.5px;
    width: 16px;
    height: 16px;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.user-navigation__form-label {
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.user-navigation__form-label::before {
    content: "";
    display: none;
    position: absolute;
    bottom: -8px;
    left: 0;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    width: 400px;
}

.user-navigation__form-button {
    position: absolute;
    z-index: -1;
    top: -9px;
    left: 330px;
    width: 85px;
    padding: 7.5px 0;
    font: inherit;
    background-color: rgb(247, 226, 150);
    border: 2px solid rgb(0, 0, 0);
}

.user-navigation__form-button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgb(0, 0, 0);
}

.user-navigation__form-button:focus {
    z-index: 0;
    color: rgba(255, 255, 255, 0.3);
    background-color: rgb(0, 0, 0);
}

.user-navigation__form-input:focus ~ .user-navigation__form-button {
    display: block;
    z-index: 0;
}

.user-navigation__form-input:focus ~ .user-navigation__form-label::before {
    display: block;
    visibility: visible;
}

.main-content {
    position: relative;
    margin: 0 auto;
    padding-top: 43px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}

.main-slider {
	height: 450px;
}

.wrapper-slider {
	position: relative;
	width: 1160px;
    margin: 0 auto;
    padding: 0;
}

.main-slider__items {
	position: absolute;
	margin-top: -156px;
    padding: 0;
}

.main-slider__item-wrapper h2 {
	line-height: 56px;
	letter-spacing: 0.47px;
	font-size: 47px;
    font-family: 'Gilroy Extra Bold', Arial, sans-serif;
	position: relative;
}

.main-slider__item {
	display: none;
}

.main-slider__item::after {
    content: "";
    min-width: 100px;
    height: 7px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 460px;
    top: 38px;
}

.main-slider__item::before {
	content: "";
    font-weight: 800;
    font-size: 179.2px;
    line-height: 179.2px;
    letter-spacing: 1.792px;
    font-family: 'Gilroy Extra Bold', Arial, sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
	right: 45px;
    top: -15px;
}

.main-slider__properties {
	margin-top: 58px;
	border-spacing: 0px;
}

.main-slider__item-wrapper {
    padding-top: 41px;	
    min-width: 560px;
}

.main-slider__img {
	min-width: 600px;
}

.main-slider__item:nth-child(1) .main-slider__img img {
	margin-left: 91px;
}

.main-slider__item:nth-child(2) .main-slider__img img {
	margin-left: 116px;
	padding-top: 10px;
}

.main-slider__item:nth-child(3) .main-slider__img img {
	margin-left: 31px;
	padding-top: 65px;
}

/* change JS --*/
.main-slider__item:nth-child(1) {
  	display: flex;
	justify-content: flex-start;
	position: relative;
}

.slide1::before {
    content: "01";
}

.slide2::before {
    content: "02";
}

.slide3::before {
    content: "03";
}
/* -- change JS*/

.main-slider__description {
	margin-top: -20px;
	line-height: 30px;
	letter-spacing: 0.15px;
	font-size: 15px;
	font-family: 'Open Sans Light', Arial, sans-serif;
}

.wrapper-button-slider {
	width: 220px;
	margin-top: 50px;
	margin-left: 2px;
}

.main-button {
	position: relative;
	font-size: 18px;
	letter-spacing: 3.4px;
	line-height: 24px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.4px;
    text-align: center;
	font-family: 'Gilroy Extra Bold', Arial, sans-serif;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
	background: 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
    border: none;
    cursor: pointer;
    bottom: -1px;
    left: 1px;
}

.main-button::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 8px;
	background-color: rgb(240, 197, 46);
	z-index: -1;
	left: -2px;
} 

.main-button:hover::before {
	height: 40px;
} 

.main-button:focus {
	color: rgba(0, 0, 0, 0.3);
}

.main-slider__property-value {
	line-height: 48px;
	letter-spacing: 0.36px;
	font-size: 36px;
	font-family: 'Gilroy Light', Arial, sans-serif;
}

.main-slider__property-description {
	line-height: 20px;
	letter-spacing: 0.13px;
	font-size: 13px;
	font-family: 'Gilroy Light', Arial, sans-serif;
}

.main-slider__property-value td:nth-child(2),
.main-slider__property-value td:nth-child(3),
.main-slider__property-description td:nth-child(2),
.main-slider__property-description td:nth-child(3) {
	padding-left: 75px;
}

.main-slider__property-description td {
	padding-top: 7px;
	line-height: 20px;
	letter-spacing: 0.13px;
	font-size: 13px;
	font-family: 'Open Sans Light', Arial, sans-serif;
}

.main-slider__controls {
	position: absolute;
	right: -47px;
	top: 170px;
	z-index: 100;

	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.main-slider__controls i {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;
}

.main-slider__controls i::after {
	content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px
}

.main-slider__controls .active::before {
	content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    display: block;
    box-sizing: border-box;
    width: 4px;
    height: 4px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
}

.main-category {
	width: 1160px;
	margin: 0 auto;
}

.main-category { 
	margin-top: 5px;
}

.main-category__items {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.main-category__item {
	margin-left: 40px;
	width: 160px;
	display: flex;
}

.main-category__item:nth-child(1) {
	margin-left: 0px;
}

.main-category__item-link {
    display: flex;
    flex-direction: column;
}

.main-category__item-link h3 {
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.18px;
	font-family: 'Gilroy Extra Bold', Arial, sans-serif;
	color: rgb(0, 0, 0);
	margin: 0;
	padding: 0;
}

.main-category__item-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 160px;
    height: 160px;
    margin-bottom: 34px;
    background-color: rgba(240, 197, 46, 0.5);
}

.main-category__item:nth-child(2) .main-category__item-img {
	justify-content: flex-end;
}

.main-category__item:nth-child(3) .main-category__item-img img {
	margin-left: 10px;
	margin-top: 5px;
}

.main-category__item:nth-child(4) .main-category__item-img img {
	margin-left: 5px;
	margin-top: 5px;
}

.main-category__item:nth-child(5) .main-category__item-img img {
	margin-left: 5px;
	margin-top: 5px;
}

.main-category__item:last-child .main-category__item-img img {
	margin-top: 10px;
}

.main-category__item-img img {
    max-width: 100%;
    height: auto;
}


.main-category__item-link:hover .main-category__item-img {
    background-color: rgb(240, 197, 46);
}

.main-category__item-link:focus .main-category__item-img {
    background-color: rgb(240, 197, 46);
}

.main-category__item-link:focus .main-category__item-img img,
.main-category__item-link:focus h3 {
    opacity: 0.3;
}

/*Change JS*/
.main-service__item {
	display: none;
}

.main-service__item:nth-child(1) {
	display: flex;
}
/*Change JS*/

.main-service__names,
.main-service__descriptions {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main-service__wrapper h2 {
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 1px;
	font-family: 'Gilroy Extra Bold', Arial, sans-serif;
	color: rgb(0, 0, 0);
	margin: 0;
	padding: 0;	
}

.main-service {
	position: relative;
	margin-top: 40px;
	min-height: 290px;
	margin-bottom: 93px;
	margin-top: 180px;
}

.wrapper-section-bcgr {
	width: 100%;
	background-color: rgb(229, 229, 229);
	min-height: 290px;
	position: absolute;

	z-index: 0;
}

.wrapper-section-service { 
	width: 1160px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	margin-top: -12px;
	z-index: 1;
}

.wrapper-button-service {
	width: 160px;
}

.main-service__names {
	min-width: 285px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
} 


.main-service__names li {
	margin-top: 40px;
}

.main-service__names li::after {
	content: "";
	background-color: rgb(0, 0, 0);
	height: 100%;
	width: 100%;
}

.main-service__names li:nth-child(1) {
	margin-top: 0px;
}

.main-service__names {
	position: relative;
}
.main-service__names::before {
	content: "";
	width: 7px;
	height: 319px;
	background-color: rgb(0, 0, 0);
	position: absolute;
	left: 275px;
	top: -90px;
}

.main-service__names .main-button:focus {
	color: rgb(247, 225, 132);
}

.main-service__names .main-button:focus::before {
	background-color: black;
	width: 100%;
	border-right: 120px solid rgb(0, 0, 0);
	height: 40px;
} 

.service-active {
	color: rgb(247, 225, 132);
}

.service-active::before {
	background-color: rgb(0, 0, 0);
	width: 100%;
	border-right: 120px solid rgb(0, 0, 0);
	height: 40px;
} 

.main-service__wrapper {
	max-width: 440px;
	display: flex;
	flex-direction: column;

}

.main-service__wrapper h2{
	margin-bottom: 17px;
}

.main-service__descriptions {
	margin-left: 115px;
	line-height: 30px;
	letter-spacing: 0.2px;
	font-weight: normal;
	font-size: 15px;
	font-family: 'Open Sans Light', Arial, sans-serif;
}

.main-service__wrapper-img {
	margin-left: 113px;
	margin-top: 13px;
}

.main-service__item {
	margin-top: -15px;
}

.main-brands {
	width: 100%;
	margin-bottom: 135px;
}

.main-brands__items {
	width: 1160px;
	margin: 0 auto;
	padding: 0;
	display: flex;
	list-style: none;
}

.main-brands__item {
	margin-left: 35px;
}

.main-brands__item:first-child {
	margin-left: 0px;
}


.main-brands__item:nth-child(2){
	margin-left: 38px;
}

.main-brands__item:nth-child(3){
	margin-left: 40px;
}

.main-brands__item:last-child {
	margin-left: 40px;
}

.main-about {
	width: 100%;
	min-height: 570px;
	margin-bottom: 33px;
}

.main-about h2 {
	margin: 0;
    padding: 0;
    font-family: 'Gilroy Extra Bold', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.8px;
    text-align: left;
    color: rgb(0, 0, 0);
    margin-left: -2px;
}

.main-about-wrapper{
	width: 1160px;
	margin: 0 auto;
	display: flex;
}

.wrapper-button-about .main-button {
	width: 260px;
	letter-spacing: 3.7px;
	margin-left: 2px;
}

.main-about__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 580px;
	position: relative;
}

.main-about__contacts {
	display: flex;
	flex-direction: column;
	flex-basis: 580px;
	position: relative;
}

.main-about__contacts h2 {
    margin-bottom: 40px;
}

.main-about__info::before, 
.main-about__contacts::before {
    position: absolute;
    top: -52px;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #000;
    content: "";
}

.main-about__contacts {
	margin-left: 40px;
}

.main-about__info-services {
	list-style: none;
    font-family: 'Gilroy Extra Bold', Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    color: rgb(0, 0, 0);
    margin: 0;
	padding: 0;
	margin-bottom: 62px;
	margin-top: 51px;
}

.main-about__info-services li {
	position: relative;
	padding-left: 36px;
	letter-spacing: 0.1px;
}

.main-about__info-services li::before {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border: 0.5px solid rgb(229, 229, 229);
    border-radius: 4px;
    top: 16px;
    left: 2px;
}

.main-about__contacts-description {
    margin-bottom: 39px;
    margin-top: 3px;
    margin-left: -2px;
    letter-spacing: 0.12px;
}

.main-about__contacts-map {
	margin-bottom: 68px;
}

.main-about__info-description-item1 {
	margin-left: -1px;
	margin-top: 42px;
	letter-spacing: 0.135px;
   	font-size: 15px;
    line-height: 30px;
}

.main-about__info-description-item2 {
	letter-spacing: -0.16px;
   	font-size: 15px;
    line-height: 30px;
}

.footer {
	width: 100%;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgb(70, 70, 70);
    min-height: 325px;
}

.footer-wrapper {
	width: 1160px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.footer-navigation {
	display: flex;
	flex-direction: column;
}

.footer-logo {
	opacity: 1.0;
}

.footer-logo:hover {
	opacity: 0.6;
}

.footer-logo:focus {
	opacity: 0.3;
}

.footer-logo img {
	max-width: 163px;
}

.footer-navigation__wrapper-item1,
.footer-navigation__wrapper-item2 {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;	
}

.footer-navigation__wrapper-item1 {
	margin-top: 65px;
	margin-bottom: 21px;
}

.footer-navigation__wrapper-item2 p {
    margin: 0;
	padding: 0;
}

.footer-navigation__wrapper-item2 {
	margin-bottom: 70px;
}


.footer-site-navigation {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	list-style-type: none;
	margin-left: 164px;
	margin-bottom: 10px;
	margin-top: 3px;
	padding: 0;
}

.footer-navigation__wrapper-item2 .footer-contacts-tel {
	margin-left: 200px;
}

.footer-site-navigation li {
	margin: 0;
	padding: 0;
}

.footer-site-navigation li:first-child {
}

.footer-site-navigation a {
    font-family: 'Gilroy Extra Bold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-left: 34px;
}

.footer-site-navigation li:first-child a {
	margin-left: 0px;
}

.footer-site-navigation a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:focus {
	color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation a {
    font-family: 'Open Sans Light', Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation {
	display: flex;
	justify-content: flex-start;
	margin-left: 682px;
}

.footer-user-navigation a {
	position: relative;
	margin-top: -5px;
}

.footer-user-navigation a:first-child {
	margin-left: 0px;
	padding-left: 16px;
}

.footer-user-navigation a:nth-child(2) {
	margin-left: 54px;
	padding-left: 10px;
}

.footer-user-navigation a:last-child {
	margin-left: 51px;
	padding-left: 12px
}


.footer-user-navigation a::before {
	position: absolute;
	content: "";
	left: -10px;
	bottom: 25px;
}

.footer-user-navigation a:first-child::before {
	background-image: url("../img/user-footer.svg");
	width: 13px;
	height: 12px;
}

.footer-user-navigation a:nth-child(2)::before {
	background-image: url("../img/compare-footer.svg");
	width: 10px;
	height: 10px;
}

.footer-user-navigation a:last-child::before {
	background-image: url("../img/cart-footer.svg");
	width: 12px;
	height: 12px;
}

.footer-user-navigation a:hover {
	color: rgb(255, 255, 255);
}

.footer-user-navigation a:focus {
	color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation a:hover::before {
	opacity: 0.6;
}

.footer-user-navigation a:focus::before {
	opacity: 0.3;
}


.social-link-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
}

.social-link-wrapper::before {
	content: "";
	width: 80px;
	height: 7px;
	margin-top: -6px;
	background-color: rgb(255, 198, 0);
	position: absolute;
}

.social-link {
	margin-left: 509px;
    margin-top: -19px;
}

.social-link__items {
	display: flex;
	flex-direction: row;
	list-style-type: none;	
	justify-content: space-between;
	margin: 0;
	padding: 0;
	font-size: 0px;
	line-height: 0px;
}

.social-link__item a {
	position: relative;
	margin-left: 55px;
}

.social-link__item:first-child a {
	margin-left: 0px;
}

.social-link__item a:before  {
	width: 32px;
	height: 32px;
	opacity: 0.3;
	position: absolute;
	content: "";
}

.social-link__item:first-child a::before {
	background: url("../img/fb.svg") no-repeat;;
}

.social-link__item:nth-child(2) a::before {
	background: url("../img/instagram.svg") no-repeat;;
}

.social-link__item:last-child a::before {
	background: url("../img/twitter.svg") no-repeat;
}

.social-link__item a:hover::before {
	opacity: 0.6;
}

.social-link__item a:focus::before {
	opacity: 0.1;	
}

.htmlacademy {
	margin-left: auto;
	font-size: 0px;
	position: relative;

}

.htmlacademy::before {
	position: absolute;
	content: "";
	background: url("../img/logo-html.svg") no-repeat;
	width: 27px;
	height: 35px;
	top:-21px;
	left: -27px;
}

.htmlacademy:hover::before {
	opacity: 0.6;
}

.htmlacademy:focus::before {
	opacity: 0.3;
}

.catalog-content {
    margin: 0;
    padding: 0;
    padding-top: 37px;
    box-sizing: border-box;
}

.breadcrumbs-wrapper {
	width: 1040px;
    margin: 0 auto;
    padding: 0;
}

.catalog-page .main-header-logo {
    top: -16px;
}

.breadcrumbs__title{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #000000;
}

.breadcrumbs{
    display: flex;
    margin: 0;
    margin-bottom: 44px;
    padding: 0;
    list-style: none;
}

.breadcrumbs li{
    position: relative;
    margin-right: 39px;
}

.breadcrumbs li:nth-child(2){
    margin-right: 43px;
}

.breadcrumbs li:last-child{
    margin-right: 0;
}

.breadcrumbs li::after{
    content: '';
    position: absolute;
    bottom: 10px;
    right: -21px;
    width: 4px;
    height: 7px;
    background-image: url('../img/nav-arrow.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.breadcrumbs li:nth-child(2)::after{
    right: -26px;
}

.breadcrumbs li:last-of-type::after {
    display: none;
}

.breadcrumbs a{
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: -0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover{
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:focus{
    color: rgba(0, 0, 0, 0.1);
}

.catalog__header{
    background-image: linear-gradient(to right, #d9d9d9 25%, #ebebeb 25%);
}

.catalog__main{
    background-image: linear-gradient(to right, #ebebeb 25%, #ffffff 25%);
}

.catalog__wrapper{
    display: flex;
    flex-direction: row;
    width: 1160px;
    margin: 0 auto;
}

.catalog__main-filters{
    position: relative;
    width: 468px;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

.catalog__main-filters-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 328px;
    margin: 0;
    padding: 0;
}

.catalog__filters{
    position: relative;
    width: 100%;
    background-color: #d9d9d9;
    text-align: right;
}

.catalog__filters h2{
    margin: 0;
    padding: 0;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 179px;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 3.1px;
    text-transform: uppercase;
    color: #000000;
}

.filter .legend-price{
    margin-bottom: 35px;
}

.filter-range {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}

.range-controls {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.scale {
    height: 2px;
    background-color: #dbdbdb;
}

.bar {
    width: 60%;
    height: 2px;
    background-color: #91c92f;
}

.range-toggle {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px #dadada;
    cursor: pointer;
}

.range-toggle:active {
    width: 22px;
    height: 22px;
    border: 9px solid #ffffff;
}

.range-toggle-min {
    top: -9px;
    left: -5px;
}

.range-toggle-max {
    top: -9px;
    left: 108px;
}

.price-controls label {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.2);
    letter-spacing: 0.3px;
}

.min-price {
    flex-grow: 1;
    margin-right: 17px;
}

.max-price {
    flex-grow: 1;
}

.price-controls input {
    width: 50px;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.2);
    letter-spacing: 0;
    background: none;
    border: 0;
}

.catalog__main-filters-form {
    width: 200px;
    padding-top: 69px;
    padding-right: 68px;
}

fieldset{
    margin: 0;
    padding: 0;
}

.filter fieldset{
    border: none;
}

.filter legend{
    width: 100%;
    margin: 0;
    margin-left: -1px;
    margin-bottom: 22px;
    padding: 0;
    padding-top: 10px;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
    border-top: 2px solid #000000;
}

.input-radio-legend{
    margin-bottom: 10px;
}

.filter-checkbox-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-option label {
    position: relative;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
    letter-spacing: -0.6px;
}

.filter-checkbox-list li{
    padding-left: 39px;
}

.filter-checkbox-list li:last-child{
    margin-bottom: 37px;
}

.filter-input:disabled + label{
    color: #a6a6a6;
    opacity: 0.25;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 3px;
    width: 23px;
    height: 24px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.filter-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    left: -41px;
    top: 4px;
    width: 28px;
    height: 28px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.filter-input-checkbox:hover + label::before {
    opacity: 0.6;
}

.filter-radio-list{
    margin: 0;
    padding: 0;
    padding-bottom: 32px;
    list-style-type: none;
}

.filter-radio-list li{
    padding-left: 38px;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 1px;
    width: 17px;
    height: 17px;
    border: 4px solid #000000;
    border-radius: 50%;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -33px;
    width: 11px;
    height: 11px;
    background-color: #000000;
    border-radius: 50%;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:hover + label::after {
    opacity: 0.6;
}

.filter-button{
    width: 100%;
    z-index: 0;
}

.catalog{
    position: relative;
    width: 832px;
    margin: 0;
    padding: 0;
    padding-bottom: 77px;
}

.catalog-wrapper{
    margin: 0;
    padding: 0;
}

.catalog__filters-sort-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 760px;
    padding-top: 20px;
    padding-left: 72px;
    padding-bottom: 21px;
    background-color: #ebebeb;
}

.catalog__filters-sort-inner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 760px;
    margin: 0;
    padding: 0;
}

.catalog__filters-sort-inner h3{
    margin: 0;
    margin-right: 51px;
    padding: 0;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    text-align: left;
    color: #000000;
}

.catalog__filters-sort-list{
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: -4px;
    margin-right: 227px;
    padding: 0;
    list-style: none;
}

.sort-updown{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 41px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sort-updown-item{
    margin-top: -1px;
}

.sort-item a{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    opacity: 0.3;
}

.sort-item a:hover{
    opacity: 0.6;
}

.sort-item a:focus{
    opacity: 1;
}

.catalog__filters-sort-list .sort-item{
    margin-right: 29px;
}

.catalog__filters-sort-list .sort-item:nth-child(2){
    margin-right: 31px;
}

.catalog__filters-sort-list .sort-item:last-child{
    margin-right: 0;
}

.sort-item-active a{
    color: #000000;
    opacity: 1;
}

.sort-updown-link{
    opacity: 0.2;
}

.sort-updown-link:hover{
    opacity: 0.4;
}

.sort-updown-link:focus{
    opacity: 1;
}


.sort-updown-active .sort-updown-link{
    opacity: 1;
}

.catalog__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 69px;
    padding-left: 72px;
}

.catalog__list-item{
    position: relative;
    width: 360px;
    margin-right: 40px;
    margin-bottom: 46px;
}

.catalog__list-item-button{
    position: absolute;
    top: 30%;
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.catalog__list-item-button .button{
    width: 200px;
    margin-bottom: 30px;
}

.catalog__list-item:hover .catalog__list-item-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.catalog__list-item img{
    margin-bottom: 23px;
}

.catalog__list-item:hover img{
    opacity: 0.7;
    background-color: #eeeeee;
}

.catalog__list-item:nth-child(2n){
    margin-right: 0;
}

.catalog-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.catalog__list-item-title{
    width: 263px;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    color: #000000;
}

.catalog__list-item-title a{
    margin-left: -1px;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000000;
}

.catalog__list-item:nth-child(3) .catalog__list-item-title a{
    letter-spacing: 0.1px;
}

.catalog__list-item-price{
    width: 80px;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy Light', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.2px;
    text-align: right;
    color: #464646;
}

.compare-button{
    font-size: 13px;
    font-weight: 300;
    line-height: 1.54;
    letter-spacing: 0.1px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.compare-button:hover{
    color: #000000;
}

.compare-button:focus{
    color: rgba(0, 0, 0, 0.2);
}

.new::after{
    content: "new";
    position: absolute;
    top: 30px;
    right: 27px;
    width: 56px;
    height: 39px;
    padding-top: 15px;
    font-family: 'Gilroy Extra Bold', Arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: -0.6px;
    line-height: 26px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 50%;
    opacity: 0.1;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 760px;
    margin: 0;
    margin-top: -10px;
    padding: 0;
    margin-left: 72px;
    background-color: #ebebeb;;
    list-style: none;
}

.pagination-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination-control{
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 3.4px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
}

.pagination-control-prev{
    display: block;
    width: 134px;
    padding-top: 23px;
    padding-right: 30px;
    padding-bottom: 22px;
    padding-left: 30px;
    box-sizing: border-box;
}

.pagination-control-prev:hover{
    background-color: #d9d9d9;
}

.pagination-control-prev:focus{
    background-color: #d9d9d9;
    opacity: 0.3;
}

.pagination-control-next{
    display: block;
    width: 134px;
    padding-top: 23px;
    padding-right: 30px;
    padding-bottom: 22px;
    padding-left: 30px;
    text-align: right;
    box-sizing: border-box;
}

.pagination-control-next:hover{
    background-color: #d9d9d9;
}

.pagination-control-next:focus{
    background-color: #d9d9d9;
    opacity: 0.3;
}

.pagination-item {
    width: 40px;
    text-align: center;
}

.pagination-item a{
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 3.2px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.3;
}

.pagination-item a:hover{
    opacity: 0.6;
}

.pagination-item a:focus{
    letter-spacing: -3px;
    opacity: 1;
}

.pagination-item-active a{
    letter-spacing: -3px;
    opacity: 1;
}


@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal{
    position: fixed;
    display: none;
    transform: translate(-50%, -50%);
    animation-name: bounce;
    animation-duration: 0.6s;
}

.modal-write{
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 960px;
    height: 553px;
    padding: 80px 100px;
    background-color: #ffffff;
    box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
    box-sizing: border-box;
}

.modal-close{
    position: absolute;
    z-index: 12;
    top: 22px;
    right: 22px;
    width: 55px;
    height: 55px;
    background-color: #f0c52e;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

.modal-close::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: #ffffff;
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: #ffffff;
    transform: translate(-50%, -50%) rotate(135deg);
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:focus {
    opacity: 0.3;
}

.write-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.write-form p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.write-form label {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.write-form input[type="text"],
.write-form input[type="email"]{
    width: 340px;
    padding-top: 19px;
    padding-bottom: 21px;
    padding-left: 20px;
    outline: none;
}

.write-form textarea{
    width: 740px;
    margin-bottom: 55px;
    padding-top: 19px;
    padding-left: 20px;
    padding-bottom: 84px;
    outline: none;
}

.write-form input[type="text"],
.write-form input[type="email"],
.write-form textarea{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: rgba(70, 70, 70, 0.4);
    background-color: #f2f2f2;
    border: none;
}

.write-form input:hover,
.write-form textarea:hover{
    background-color: #eaeaea;
}

.write-form input:focus,
.write-form textarea:focus{
    color:#464646;
    outline: 3px solid #f7e296;
    background-color: #ffffff;
}

.write-form input:invalid{
    background-color: #f6dada;
}

.modal-map{
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 960px;
    height: 559px;
}

.modal-map p {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
}

.modal-map iframe {
    position: relative;
    z-index: 10;
    border: none;
}

.modal-show {
    display: block;
    
    animation: bounce 0.6s;
}

.modal-error {
    
    animation: shake 0.6s;
}




